
/*ICONS
    ==========================================================================*/
    .icon-link {
        width: 1em;
        height: 1em;
        line-height: 0.9em;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
        outline: none;
        margin: 0.3em 0.6em 0.2em 0.6em;
        padding: 0.07em;
        box-sizing: content-box;
    }
    .icon-link.fill.facebook {
        background-color: #3b5998;
    }
    .icon-link.fill.facebook:hover {
        background-color: #fff;
    }
    .icon-link.fill.facebook:hover .fa-facebook {
        color: #3b5998;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link.fill.tumblr {
        background-color: #32506d;
    }
    .icon-link.fill.tumblr:hover {
        background-color: #fff;
    }
    .icon-link.fill.tumblr:hover .fa-tumblr {
        color: #32506d;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link.fill.twitter {
        background-color: #00aced;
    }
    .icon-link.fill.twitter:hover {
        background-color: #fff;
    }
    .icon-link.fill.twitter:hover .fa-twitter {
        color: #00aced;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link.fill.google-plus {
        background-color: #dd4b39;
    }
    .icon-link.fill.google-plus:hover {
        background-color: #fff;
    }
    .icon-link.fill.google-plus:hover .fa-google-plus {
        color: #dd4b39;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link.fill.youtube {
        background-color: #df1c31;
    }
    .icon-link.fill.youtube:hover {
        background-color: #fff;
    }
    .icon-link.fill.youtube:hover .fa-youtube {
        color: #df1c31;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link.brand {
        background-color: #fff;
    }
    .icon-link.brand .fa {
        color: #006FC2;
    }
    .icon-link.round {
        border-radius: 50%;
        border: solid 1px;
    }
    .icon-link.round-corner {
        border-radius: 1px;
    }
    .icon-link:hover.facebook {
        border: 1px solid #3b5998;
    }
    .icon-link:hover.twitter {
        border: 1px solid #00aced;
    }
    .icon-link:hover.google-plus {
        border: 1px solid #dd4b39;
    }
    .icon-link:hover.youtube {
        border: 1px solid #df1c31;
    }
    .icon-link:hover.tumblr {
        border: 1px solid #32506d;
    }
    .icon-link:hover .fa {
        line-height: 1.3em;
    }
    .icon-link:hover .fa-facebook {
        color: #3b5998;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link:hover .fa-tumblr {
        color: #32506d;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link:hover .fa-twitter {
        color: #00aced;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link:hover .fa-google-plus {
        color: #dd4b39;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link:hover .fa-youtube {
        color: #df1c31;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link .fa {
        color: #fff;
        line-height: 0.8em;
        font-size: 0.8em;
    }
    .brand-icons {
        background-color: #ddd;
        padding: 10px 0;
    }
    .icon-block {
        padding: 0 15px;
    }
    .icon-block .material-icons {
        font-size: inherit;
    }

/*FONTS
     ==========================================================================*/
@font-face {
    font-family:"BigNoodleTitling";
    src:url("../fonts/big_noodle_titling.eot?") format("eot"),
    url("../fonts/big_noodle_titling.woff") format("woff"),
    url("../fonts/big_noodle_titling.ttf") format("truetype"),
    url("../fonts/big_noodle_titling.svg#BigNoodleTitling") format("svg");
    font-weight:normal;
    font-style:normal;
}
body, h5 {
    font-family: 'Open Sans Condensed', sans-serif;
}
h1, h2, h3, h4, .cir {
    font-family: 'BigNoodleTitling', sans-serif;
    font-weight: 200;
    line-height: 1.1;
    letter-spacing: 3px;
}
h1 {
    font-size: 147px;
}
h2 {
    font-size: 70px;
}
h3 {
    font-size: 60px;
}
h4 {
    font-size: 50px;
}
.font-30,
h5 {
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 1px;
}
p, span, nav {
    font-size: 1.333em;
}
.font-40 {
    font-size: 40px;
    font-weight: 40px;
}
.font-15 {
    font-size: 15px;
}
.bold {
    font-weight: bold;
}

/*COLOR'S
     ==========================================================================*/
.black {
    background-color: #000000;
}
.white {
    background-color: #FFFFFF;
}
.bg-grey,
.grey {
    background-color: #ebebeb;
}
.lt-blue {
    background-color: #6a9ffc;
}
.br-blue {
    background-color: #42a5f5;
}
.blue {
    background-color: #457afb;
}
.navy {
    background-color: #006fe6;
}
.dk-grey {
    background-color: #f2f2f2;
}

/* text color */
.black-txt {
    color: #000000;
}
.white-txt {
    color: #FFFFFF;
}
.grey-txt {
    color: #5f5f5f;
}
.dk-grey-txt {
    color: #353535;
}
.blue-txt {
    color: #457afb;
}
.br-blue-txt {
    color: #42a5f5;
}
/*MARKUP
      ==========================================================================*/

/* padding */
div.height-50 > p.blue-txt,
div.l12.height-60 {
    padding-top: 1em;
}
div.height-50 > div.flex-sp-bet,
div.card-content > h4.grey-txt {
    padding-top: 0.8em;
}
div.card-content > p {
    padding: 0.7em 0 0.7em 0;
}
/* margin */

div.card-content > h4, .no-mar {
    margin: 0 !important;
}
.no-mar-bot {
    margin-bottom: 0;
}
.no-mar-top {
    margin-top: 0;
}
.mar-aut {
    margin: auto;
}
.mar-top {
 margin: 1.8em auto 0 auto;
}
div.height-10.flex > h4.mar-aut_rl {
    margin-top: 0.3em !important;
    margin-bottom: 0.7em !important;
}
.mar-bot {
    margin: 0 0 1.8em 0;
}
div.height-20.flex > span.mar-aut {
    margin: 2.5em auto 2.5em auto;
}
.mar-aut_rl {
    margin: 0 auto 0 auto;
}

/* height in % */
.height-110 {
    height: 110% !important;
}
.height-100,
.row,
div .col .l3 {
    height: 100%;
}
.height-80 {
    height: 80%;
}
.height-70 {
    height: 70%;
}
.height-65 {
    height: 65%;
}
.height-60 {
    height: 60%;
}
.height-50 {
    height: 50%;
}
.height-40 {
    height: 40%;
}
.height-30 {
    height: 30%;
}
div.height-xl > div.container,
.height-25 {
    height: 25%;
}
.height-20 {
    height: 20%;
}
.height-18 {
    height: 18%;
}
.height-12 {
    height: 12%;
}
.height-15 {
    height: 15%;
}

/*content container height size*/
.height-m {
    height: 700px;
}
.height-l {
    height: 900px;
}
.height-xl {
    height: 1075px;
}

/*footer*/
footer {
    height: 400px;
}
footer div:first-child {
    height: 85%;
}
footer div:last-child {
    height: 15%;
}

.width-100 {
    width: 100%;
}

/* position */
.flex {
    display: flex;
}
.flex-jc {
    justify-content: center;
}
.flex-c {
    flex-direction: column;
}
div.flex > div.height-30.mar-aut_rl {
    align-self: flex-end;
}

/*CONTENT
      ==========================================================================*/
a {
    cursor: pointer;
}

.opacity {
    opacity: 0.9;
}

.btn {
    width: 70%;
    height: 19%;
    margin: 0 auto 40px auto;
}

.btn > a {
    line-height: 58px;
}

.card-content {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    margin:  0 5px 0 5px;
}

.card-sale {
    height: 55px;
    width: 170px;
    margin: -2em auto 0 auto;

}

.card-news {
    width: 29.333333% !important;
    margin: 0 0.8em 0 0.8em;
}

.card-image-news {
    height: 45%;
    padding-top: 11px;
}


/* background's' */
header {
    background: url("../png/hotel.png") no-repeat 100%;
    background-size: cover;
}
.bg-1 {
    background: url("../png/lake.png") no-repeat 100%;
    background-size: cover;
}
.bg-2 {
    background: url("../png/trees.png") no-repeat 100%;
    background-size: cover;
}
.bg-3 {
    background: url("../png/village.png") no-repeat 100%;
    background-size: cover;
}
.cir-bg-1 {
    background: url("../png/america1.jpg") no-repeat 100%;
    background-size: cover;
}
.cir-bg-2 {
    background: url("../png/america2.jpg") no-repeat 100%;
    background-size: cover;
}
.cir-bg-3 {
    background: url("../png/san_francisco.jpg") no-repeat 50%;
    background-size: cover;
}
.cir-bg-4 {
    background: url("../png/amazon.jpg") center 100%;
    background-size: cover;
    height: 100%;
}
.card-bg-1 {
    background: url("../png/card1.jpg");
    background-size: cover;
}
.card-bg-2 {
    background: url("../png/card2.jpg");
    background-size: cover;
}
.card-bg-3 {
    background: url("../png/card3.jpg");
    background-size: cover;
}
.card-bg-4 {
    background: url("../png/card_n1.jpg");
    background-size: cover;
}
.card-bg-5 {
    background: url("../png/card_n3.jpg");
    background-size: cover;
}
.card-bg-6 {
    background: url("../png/card_n2.jpg");
    background-size: cover;
}
.cir {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
    font-size: 2.5em;
    letter-spacing: 0.15em;
    line-height: 7.5em;
    text-align: center;
}
.cir-footer {
    width: 10.5em;
    height: 10.5em;
    border-radius: 50%;
    font-size: 1.2em;
    letter-spacing: 0.14em;
    line-height: 10.5em;
    text-align: center;
}

@media only screen and (max-width: 1680px) {
    .cir {
        font-size: 2em;
    }
}


/*FOOTER
      ==========================================================================*/



