
/*ICONS
    ==========================================================================*/
    .icon-link {
        width: 1em;
        height: 1em;
        line-height: 0.9em;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        cursor: pointer;
        outline: none;
        margin: 0.3em 0.6em 0.2em 0.6em;
        padding: 0.07em;
        box-sizing: content-box;
    }
    .icon-link.fill.facebook {
        background-color: #3b5998;
    }
    .icon-link.fill.facebook:hover {
        background-color: #fff;
    }
    .icon-link.fill.facebook:hover .fa-facebook {
        color: #3b5998;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link.fill.tumblr {
        background-color: #32506d;
    }
    .icon-link.fill.tumblr:hover {
        background-color: #fff;
    }
    .icon-link.fill.tumblr:hover .fa-tumblr {
        color: #32506d;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link.fill.twitter {
        background-color: #00aced;
    }
    .icon-link.fill.twitter:hover {
        background-color: #fff;
    }
    .icon-link.fill.twitter:hover .fa-twitter {
        color: #00aced;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link.fill.google-plus {
        background-color: #dd4b39;
    }
    .icon-link.fill.google-plus:hover {
        background-color: #fff;
    }
    .icon-link.fill.google-plus:hover .fa-google-plus {
        color: #dd4b39;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link.fill.youtube {
        background-color: #df1c31;
    }
    .icon-link.fill.youtube:hover {
        background-color: #fff;
    }
    .icon-link.fill.youtube:hover .fa-youtube {
        color: #df1c31;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link.brand {
        background-color: #fff;
    }
    .icon-link.brand .fa {
        color: #006FC2;
    }
    .icon-link.round {
        border-radius: 50%;
        border: solid 1px;
    }
    .icon-link.round-corner {
        border-radius: 1px;
    }
    .icon-link:hover.facebook {
        border: 1px solid #3b5998;
    }
    .icon-link:hover.twitter {
        border: 1px solid #00aced;
    }
    .icon-link:hover.google-plus {
        border: 1px solid #dd4b39;
    }
    .icon-link:hover.youtube {
        border: 1px solid #df1c31;
    }
    .icon-link:hover.tumblr {
        border: 1px solid #32506d;
    }
    .icon-link:hover .fa {
        line-height: 1.3em;
    }
    .icon-link:hover .fa-facebook {
        color: #3b5998;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link:hover .fa-tumblr {
        color: #32506d;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link:hover .fa-twitter {
        color: #00aced;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link:hover .fa-google-plus {
        color: #dd4b39;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link:hover .fa-youtube {
        color: #df1c31;
        -webkit-transition: color 150ms ease-in-out;
        transition: color 150ms ease-in-out;
    }
    .icon-link .fa {
        color: #fff;
        line-height: 0.8em;
        font-size: 0.8em;
    }
    .brand-icons {
        background-color: #ddd;
        padding: 10px 0;
    }
    .icon-block {
        padding: 0 15px;
    }
    .icon-block .material-icons {
        font-size: inherit;
    }

/*FONTS
     ==========================================================================*/
@font-face {
    font-family: "BNT";
    src: local(BigNoodleTitle), url("../fonts/BNT.ttf") format("ttf");
    font-weight: 400;
}
body {
    font-family: 'Open Sans Condensed', sans-serif;
}
p, nav {
    font-size: 1.333em;
}
h1, h2, h3, h4, h5 {
    font-family: 'BNT', sans-serif;
    font-weight: 200;
    line-height: 1.1;
    /* letter-spacing */
}
h1 {
    font-size: 147px;
}
h2 {
    font-size: 70px;
}
h3 {
    font-size: 60px;
}
h4 {
    font-size: 50px;
}
h5 {
    font-size: 30px;
}

/*COLOR'S
     ==========================================================================*/
.black {
    color: #000000;
}
.white {
    color: #FFFFFF;
}
.grey {
    color: #ebebeb;
}
.blue {
    color: #47a0ff;
}
.navy {
    color: #006fe6;
}

/* for input */
.dk-grey {
    color: #f2f2f2;
}

/* font's color's */
.f-grey {
    color: #606060;
}
.f-dk-grey {
    color: #353535;
}

/*MARKUP
      ==========================================================================*/
body {
    width: 100%;
    max-width: 2000px;
}
.row {
    height: 100%;
}

/*content container height size*/
.height-m {
    height: 700px;
}
.height-l {
    height: 900px;
}
.height-xl {
    height: 1075px;
}
.height-50 {
    height: 50%;
}

/* if parent size of 700px*/
.height-3-s {
    height: 7.14%;
}
.height-3-m {
    height: 27.14%;;
}
.height-3-l {
    height: 65.71%;
}

/*2 if parent size of 900px*/
.height-2-s {
    height: 18.89%;
}
.height-2-l {
    height: 81.11%;
}

/*columns size in last column in container 700px/900px*/
div .col .l3,
div .col .l4 {
  height: 100%;
}

/*footer*/
footer {
    height: 400px;
}
footer div:first-child {
    height: 85%;
}
footer div:last-child {
    height: 15%;
}


/*CONTENT
      ==========================================================================*/

/* background's' */
header {
    background: url("../png/hotel.png") no-repeat 50%;
}
.bg-1 {
    background: url("../png/lake.png") no-repeat 50%;
}
.bg-2 {
    background: url("../png/trees.png") no-repeat 50%;
}
.bg-grey {
    background-color: #ebebeb;
}
.bg-3 {
    background: url("../png/village.png") no-repeat 50%;
}



/*FOOTER
      ==========================================================================*/


/*CARD'S
      ==========================================================================*/
/*width 375*/
/*height 587*/

